@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;


	--background: #eee;
	--accent: #46d84d;
	--text: #222;

	font-family: var(--font-body);
	color: var(--text);
}

body {
	min-height: 100vh;
	background-color: var(--background);
}


h1 {
	font-size: 40px;
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
	margin-top: 100px;
}


.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;
	grid-gap: 2rem;
	margin-bottom: 200px;

	.grid-item {
		h2 {
			text-align: center;
			width: 100%;
		}
	}
}


.filter-row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;

	.filter-title {
		text-align: center;
		margin-top: 30px;
		font-size: larger;
		font-weight: bold;
	}

	input,
	button {
		width: 200px;
		height: 35px;
		border-radius: 5px;
		outline: none;
		border: 2px solid #777;
		margin: 0 50px;
		text-align: center;
	}

	button {
		background-color: var(--accent);
		border: none;
		cursor: pointer;
		font-weight: bold;
	}
}